.board-lines {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: 55px;
  z-index: 10;
  border-top: solid 1px;
  border-left: solid 1px;
  background-image:
    linear-gradient(
      transparent 98%,
      black 5%
    ),
    linear-gradient(
      90deg,
      transparent 98%,
      black 5%
    );
  background-size: 50px 50px;
  background-repeat: repeat;
}